
            {%- for bundle in product_card_product.options_with_values -%}
            	
            		<div class="product-form__input product-form__input--dropdown">
                      <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ bundle.name }}
                      </label>
                      <div class="select">
                        <select 
                          id="Option-{{ section.id }}"
                          class="select__select"
                          name="options[{{ bundle.name | escape }}]"
                          form="product-form-{{ section.id }}"
                          onChange=""

                        >
                          {%- for variant in bundle.values -%}
                            <option value="{{ variant| escape }}" name="" 
                                    {% if bundle.selected_value == variant %}selected="selected"{% endif %}>
                              {{ variant }}
                            </option>
        
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  {%- endfor -%}
